# Fichiers sensibles
backend/.env
*.env

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Dossiers temporaires
.vscode/
.DS_Store
node_modules/

# Fichiers de test
test_*.py
*_test.py